/******************************/
/* Call to Action Section Styles */
/******************************/

.call-to-action-section {
  padding: 4.8rem 0 12.8rem 0;
}

.cta-content-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.cta {
  /* background-color: #e67e22; */
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1.1rem;
  overflow: hidden;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta-secondary-heading {
  font-size: 4.4rem;
  line-height: 1.2;
}

.CTA-text-box,
.cta-secondary-heading {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.CTA-image-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 152, 79, 0.35),
      rgba(232, 127, 36, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 0.9rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-form button {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  font-family: inherit;
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
}

.cta-form button:hover {
  background-color: #fff;
  color: #555;
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
